# Copyright (c) Chilimeat & joemorin
# SPDX-License-Identifier: MIT License

# Visual Studio
.vs/

# Build artifacts
ISR-Server-Manager/bin/
ISR-Server-Manager/obj/
ISRAPI/bin/
ISRAPI/obj/

# NuGet packages directory
packages/